Nathan's Workflow 2.json
{
  "name": "Nathan's Workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -32,
        96
      ],
      "id": "08b8e261-cd7d-4d38-99f7-ca387e9cbafe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/level2-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "6c2b841ec7090d46b7c2bcf88bf3c4c2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "eb3fdd5e-3528-4121-8746-8b846021b71a",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4r3TuOCR6SYarKMz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app4PP9acgeAEFc3e",
          "mode": "list",
          "cachedResultName": "Untitled Base",
          "cachedResultUrl": "https://airtable.com/app4PP9acgeAEFc3e"
        },
        "table": {
          "__rl": true,
          "value": "tblSwbYq8AvxVkv6x",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/app4PP9acgeAEFc3e/tblSwbYq8AvxVkv6x"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        192
      ],
      "id": "7b5e56da-cc7e-4bd4-b78d-0308440c6b33",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "GKFM8ohEEn00fRIV",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customerID",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        96
      ],
      "id": "940b564f-04ee-44cc-99fa-a336d95e3127",
      "name": "Merge"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderPrice",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        608,
        96
      ],
      "id": "fdbf2f49-b7b5-4a9f-b4c2-3e1a830007dc",
      "name": "Sort"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2d32eb5-f0d9-45b9-a2b8-1d8de4306f32",
              "leftValue": "={{ $json.customerCountry }}",
              "rightValue": "Canada",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -16
      ],
      "id": "bba13945-ecea-46aa-b01b-032612b0bfee",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1040,
        -64
      ],
      "id": "acdbf5aa-f8a0-45c1-84da-37005644d702",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "molinereva00@gmail.com",
        "subject": "Data n8n",
        "emailType": "text",
        "message": "Hi. Here you have the data.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        -64
      ],
      "id": "ce2b4026-3312-4a30-ac1b-d3596b5369d8",
      "name": "Send a message",
      "webhookId": "bc8d99eb-a289-40e2-bec6-60320c53a543",
      "credentials": {
        "gmailOAuth2": {
          "id": "T7WQlJLCEUXixc21",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=I sent the file using email with the label ID {{ $json.id }}. My ID: 6c2b841ec7090d46b7c2bcf88bf3c4c2",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1456,
        -64
      ],
      "id": "38a992ca-dd08-49e9-81ae-081a6848d82f",
      "name": "Discord",
      "webhookId": "872476b8-8647-41db-a123-e1cd854755ab",
      "credentials": {
        "discordWebhookApi": {
          "id": "sYifjf5X7dArNmvP",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        128
      ],
      "id": "574f22e2-309d-4fce-8b8a-c2127657a5a1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ec088fb-1aa7-494f-aa3e-e4f43ca7f55e",
              "name": "customerEmail",
              "value": "={{ $json.customerEmail }}",
              "type": "string"
            },
            {
              "id": "3f7b7a7a-21be-4e1e-906c-1b66590c4134",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "d56c6813-4beb-4695-9a4e-fdd957a6df4b",
              "name": "customerSince",
              "value": "={{ $json.customerSince }}",
              "type": "string"
            },
            {
              "id": "362e275c-fd8d-46a7-a6a1-7e0eb2cd73cb",
              "name": "orderPrice",
              "value": "={{ $json.orderPrice }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        160
      ],
      "id": "c76aa6d5-1381-478e-94c5-bbabb14e759b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json.customerSince }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1456,
        160
      ],
      "id": "47dec736-0879-4e39-96f2-224fd89def3b",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {
          "fileName": "={{$runIndex > 0 ? 'file_low_orders':'file_high_orders'}}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        160
      ],
      "id": "f1378c87-b968-4260-a9bf-6bca693e6956",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "I created the spreadsheet file_high_orders. My ID: 6c2b841ec7090d46b7c2bcf88bf3c4c2",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1872,
        160
      ],
      "id": "12a9fc81-4ae0-4fa9-acc9-07513eaddd00",
      "name": "Discord1",
      "webhookId": "537a34a1-5152-4d4a-8c31-c91e56b5574f",
      "credentials": {
        "discordWebhookApi": {
          "id": "sYifjf5X7dArNmvP",
          "name": "Discord Webhook account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "qRSuP1KHfHyvi2Bu"
  },
  "versionId": "71c2f2f4-b2c6-4b2f-99f1-730e8b30d4bf",
  "meta": {
    "instanceId": "b9b769edd2350d4521d0ae849ccbc62e94df2749e3c68d373af1672f76321ec9"
  },
  "id": "tIejiJFGAsFb6swg",
  "tags": []
}